<div class="database_nav">
  <nav>
    <ul>
      <li>
        <a href="#">
          <span class="material-symbols-outlined"> school </span>Student
          Database</a
        >
      </li>
      <li>
        <a hre="{{url_for('student_api')}}">
          <span class="material-symbols-outlined"> api </span>View Student
          Database API</a
        >
      </li>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined"> map_pin_review </span
          >Testimonial Database</a
        >
      </li>
      <li>
        <a hre="#">
          <span class="material-symbols-outlined"> api </span>View Testimonal
          Database API</a
        >
      </li>
    </ul>
  </nav>
</div>
<!-- <li> -->
<!-- <a href="#"> -->
<!-- <span class="material-symbols-outlined"> add_comment </span>Add -->
<!-- Review</a -->
<!-- > -->
<!-- </li> -->
