<div class="database_nav">
  <nav>
    <ul>
      <li>
        <a href="{{url_for('student_database')}}">
          <span class="material-symbols-outlined"> school </span> Student
          Database</a
        >
      </li>
      <li>
        <a href="{{url_for('students_api')}}">
          <span class="material-symbols-outlined"> api </span> View Student
          Database API</a
        >
      </li>
      <li>
        <a href="{{url_for('testimonial_database')}}"
          ><span class="material-symbols-outlined"> map_pin_review </span>
          Testimonial Database</a
        >
      </li>
      <li>
        <a href="{{url_for('testimonials_api')}}">
          <span class="material-symbols-outlined"> api </span> View Testimonal
          Database API</a
        >
      </li>
    </ul>
  </nav>
</div>
