<div class="main_nav">
  <a href="{{url_for('home')}}">
    <img src="/static/img/Sheikh_Logo_3.png" alt="Logo"
  /></a>
  <nav>
    <ul>
      <li>
        <a href="{{url_for('home')}}"
          ><span class="material-symbols-outlined"> home </span>Home</a
        >
      </li>
      <li>
        <a href="{{url_for('about')}}"
          ><span class="material-symbols-outlined"> person_4 </span>About</a
        >
      </li>
      <li>
        <a href="{{url_for('text_analyser')}}"
          ><span class="material-symbols-outlined"> text_compare </span>Text
          Analyser</a
        >
      </li>
      <li>
        <a href="{{url_for('mongodb_home')}}"
          ><span class="material-symbols-outlined"> database </span>MongoDB</a
        >
      </li>
    </ul>
  </nav>
</div>
