{% extends 'layout.html' %} {% block content %}
<div class="database_home">
  <h1>Using APIs and Databases</h1>
  <br />
  <p>
    Throughout the course, we learn to use
    <strong>APIs (Application Programming Interfaces)</strong> that allow our
    <em>system</em> to connect and <em>talk to</em> an external system. For this
    requirement to be met, both systems must be available online, and access to
    the <strong>data source</strong> must be done through the API key.<br /><br />

    I used <strong>MongoDB</strong> as this is free to use and online, and I can
    have many tables or <em>collections</em>. Using a
    <strong>NoSQL</strong> (Not Only Structured Query Language) is a first for
    me, as the data is stored in JSON format. With Python programmes, most of
    the data you use is stored or generated in JSON format, which made things
    slightly easier.<br /><br />

    There are two tables that this website uses, one for a
    <strong>student's application system</strong> and the other for a
    <strong>testimonial system</strong>. Each has its own functions and
    features, and I’ll let you explore them.
    <strong
      >Each table is treated as a database or data source on its own with its
      own functions.</strong
    >
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
{% endblock %}
