{% extends 'layout.html' %} {% block content %}
<div class="database_home">
  <h1>Using APIs and Databases</h1>
  <br />
  <p>
    I have created one database that contains two tables, each treated as a
    'database' of it's own which we use this website to interact with. The idea
    was to demonstrate the ability to add, update, delete and get data from an
    online database using an API key. For funding purposes, I couldn't create
    two complete separate data points or keys to then embed these functions on.
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
{% endblock %}
