{% extends 'layout.html' %} {% block content %}
<div class="database_home">
  <h1>Using APIs and Databases</h1>
  <br />
  <p>
    Here the website sends a 'GET' request on load to bring back all the data
    from the database and display it on the page using CSS styling. When you
    click on 'edit' or 'delete' it then performs a 'POST' request to the
    database and the relevant table to update it by performing the selected
    action.
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
{% endblock %}
