{% extends 'layout.html' %} {% block content %}
<div class="home_main">
  <h1>Flask Website Project</h1>
  <br />
  <p>Welcome to my Flask website project.</p>
  <br />
  <p>
    This project is my second iteration of the final assignment from the
    <strong>30 Days of Python</strong> course by
    <strong>Asabeneh Yetayeh</strong>. I chose to rebuild the application to
    strengthen my understanding of Flask, backend logic, and full-stack
    development. Reworking the project allowed me to refine both the codebase
    and the overall user experience. <br /><br />
    Here's a link to my portfolio if you'd like to browse over my projects.<br /><br />
    👉<a href="https://www.sheikh-h.github.io/" target="_blank">My portfolio</a>
  </p>
  <br />
  <br />
</div>
{% endblock %}
