{% extends 'layout.html' %} {% block content %}
<div class="review_dashboard">
  <h1>Review Dashboard</h1>
  <br />
  <p>
    This is the review dashboard where the feedback statistics are displayed
    using the MatPlotLib module in Python. On each load, it will generate new
    charts based on the current database data, save the file as an image, then
    load the page. This is why it takes a few seconds to load.
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
<div class="testimonial_buttons">
  <a href="{{url_for('leave_a_review')}}"><button>Leave a Review</button></a>
  <a href="{{url_for('review_dashboard')}}"
    ><button>Review Dashboard</button></a
  >
</div>
<br />
<div class="review_charts">
  <img src="/static/img/pie_chart.png" alt="Total reviews pie chart" />
  <img src="/static/img/graph_chart.png" alt="graph chart" />
</div>
<br />
{% endblock %}
