{% extends 'layout.html' %} {% block content %}
<div class="review_dashboard">
  <h1>Review Dashboard</h1>
  <br />
  <p>
    This is the <em>dashboard</em> function that I created using the
    <strong>MatPlotLib.pyplot</strong> in Python. This function uses the
    testimonials collection to derive some statistics for my site. The idea isto
    have it calculate how many reviews we have, classify them as being good,
    bad, or neutral, tally them up, and create graphs from them.<br /><br />

    These graphs are then saved to the images folder and displayed on the
    website. That is the reason why it takes a few seconds to load. I haven’t
    yet explored the full functions behind using some of the other
    <strong>data science modules</strong> in Python; however, the implications
    of using these functions seem very prominent.
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
<div class="testimonial_buttons">
  <a href="{{url_for('leave_a_review')}}"><button>Leave a Review</button></a>
  <a href="{{url_for('review_dashboard')}}"
    ><button>Review Dashboard</button></a
  >
</div>
<br />
<div class="review_charts">
  <img src="/static/img/pie_chart.png" alt="Total reviews pie chart" />
  <img src="/static/img/graph_chart.png" alt="graph chart" />
</div>
<br />
{% endblock %}
