{% extends 'layout.html' %} {% block content %}
<div class="database_home">
  <h1>Student Database</h1>
  <br />
  <p>
    This database is packed with many functions and features such as adding a
    student, deleting a student, updating a students details, and using the API
    to have a look at the original data in JSON format. The Python functions
    used to build this part of the site include some features like applying text
    formatting to the name entered for each student, separating each skill
    entered for a student using a comma, and inserting it into a list of items
    in the collection.<br /><br />

    To get the data displayed in the format I have it now, I used
    <strong>Jinja2 Templating</strong>, which helps to invoke functions like
    <em>for loops</em> from Python in my HTML file. I then create a CSS style
    for how I want one of the results to look, and the Python loop loads each
    item in the collection using the same style.<br /><br />

    If you’d like to view the data for a particular student using the API alone,
    use the following format in your URL bar, and it will produce the output in
    a JSON file format on browser.<br /><br />

    Example: "http://www.mywebsite.com/api/v1.0/student/[student ID]"
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
<br />
<div class="add_student_button">
  <a href="{{url_for('add_student')}}"><button>Add New Student</button></a>
</div>
<br />
<div>
  {% for student in students %}
  <div class="student_database_view">
    <img src="/static/img/student.png" alt="Student Icon" />
    <div class="student_data">
      <div>
        <p><strong>Student ID</strong>: {{student._id}}</p>
      </div>
      <div>
        <p><strong>Student Name</strong>: {{student.name.title()}}</p>
      </div>
      <div>
        <p><strong>Student Age</strong>: {{student.age}}</p>
      </div>
      <div>
        <p>
          <strong>Student Skills</strong>: <br />{% for skill in student.skills
          %}{{skill.upper()}}, {% endfor %}
        </p>
      </div>
      <div>
        <p><strong>Created At</strong>: {{student.created_at}}</p>
      </div>
    </div>
    <div class="student_buttons">
      <a href="{{url_for('update_student', student_id=student._id)}}">
        <button>Edit</button></a
      >
      <a href="{{url_for('delete_student', student_id=student._id)}}">
        <button onclick="alert('Student Deleted!')">Delete</button></a
      >
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %}
