{% extends 'layout.html' %} {% block content %}
<div class="database_home">
  <h1>Student Database</h1>
  <br />
  <p>
    Here the website sends a 'GET' request on load to bring back all the data
    from the database and display it on the page using CSS styling. When you
    click on 'edit' or 'delete' it then performs a 'POST' request to the
    database and the relevant table to update it by performing the selected
    action.
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
<br />
<div class="add_student_button" ><a href = "{{url_for('add_student')}}"><button>Add New Student</button></a></div>
<br />
<div>
  {% for student in students %}
  <div class="student_database_view">
    <img src="/static/img/student.png" alt="Student Icon" />
    <div class="student_data">
      <div>
        <p><strong>Student ID</strong>: {{student._id}}</p>
      </div>
      <div>
        <p><strong>Student Name</strong>: {{student.name.title()}}</p>
      </div>
      <div>
        <p><strong>Student Age</strong>: {{student.age}}</p>
      </div>
      <div>
        <p>
          <strong>Student Skills</strong>: {% for skill in student.skills
          %}{{skill.upper()}}, {% endfor %}
        </p>
      </div>
      <div>
        <p><strong>Created At</strong>: {{student.created_at}}</p>
      </div>
      </div>
      <div class="student_buttons">
        <a href="{{url_for('update_student', student_id=student._id)}}">
        <button>Edit</button></a>
        <a href="{{url_for('delete_student', student_id=student._id)}}">
        <button onclick = "alert('Student Deleted!')">Delete</button></a>
      </div>
    </div>
    <br />
    {% endfor %}
  </div>
  {% endblock %}
</div>
