{% extends 'layout.html' %} {% block content %}
<div class="testimonial_home">
  <h1>Testimonial Database</h1>
  <br />
  <p>
    This collection of data was created to illustrate the applications of
    <strong>custom CSS styling</strong> for
    <strong>specific instances</strong> of items in the data source. On this
    page, each testimonial left by a person includes two pieces of data that
    Jinja2 Templating uses Python functions on to calibrate <em>how</em> the
    information is displayed. Namely, they are the <em>gender</em> and
    <em>colour</em> fields.<br /><br />
    The gender field is populated manually by the user, but the colour field
    uses a similar function to the text analyser to gather whether the feedback
    is <strong>positive</strong>, <strong>negative</strong>, or
    <strong>neutral</strong> and assign a relevant colour to the testimonial.
    This value is then used to load a specific CSS style declared in the CSS
    file for each iteration of a testimonial, which changes how it’s
    displayed.<br /><br />
    For this function, I used emojis as the classifier for each testimonial.<br /><br />
    (Right now, including two emojis breaks the function.)
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
<div class="testimonial_buttons">
  <a href="{{url_for('leave_a_review')}}"><button>Leave a Review</button></a>
  <a href="{{url_for('review_dashboard')}}"
    ><button>Review Dashboard</button></a
  >
</div>
<div>
  {% for testimonial in testimonials %}
  <br />
  <div class="{{testimonial.colour}}">
    <div class="testimonial_details">
      {% if testimonial.gender == 'male' %}
      <img src="/static/img/male.png" alt="male icon" style="width: 150px" />
      {% else %}
      <img src="/static/img/female.png" alt="male icon" style="width: 150px" />
      {% endif %}<br />
      <p>"{{testimonial.feedback}}"</p>
    </div>
    <div class="testimonial_tags">
      <div>
        <p>Left by:</p>
        <p>{{testimonial.name}}</p>
      </div>
      <div>
        <p>At:</p>
        <p>{{testimonial.created_at}}</p>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
<br />

{% endblock %}
