{% extends 'layout.html' %} {% block content %}
<div class="testimonial_home">
  <h1>Testimonial Database</h1>
  <br />
  <p>
    This is a collection of all the 'reviews' left on my website. You can enter
    your own review or use the API url in a similar format to gain the same
    result as with the student table API function. Each result is retrieved from
    the database and then I use Python to calculate different information to
    produce different results. <br /><br />
    I used Jinja2 templating to generate the color of each review depending on
    what emoji has been inserted in their feedback and also to figure out which
    image to use depending on whether the testimonial was left by a male or
    female.
  </p>
</div>
<br />
<div>{% include 'partials/database_nav.html' %}</div>
<div class="testimonial_buttons">
  <a href="{{url_for('leave_a_review')}}"><button>Leave a Review</button></a>
  <a href="{{url_for('review_dashboard')}}"
    ><button>Review Dashboard</button></a
  >
</div>
<div>
  {% for testimonial in testimonials %}
  <br />
  <div class="{{testimonial.colour}}">
    <div class="testimonial_details">
      {% if testimonial.gender == 'male' %}
      <img src="/static/img/male.png" alt="male icon" style="width: 150px" />
      {% else %}
      <img src="/static/img/female.png" alt="male icon" style="width: 150px" />
      {% endif %}<br />
      <p>"{{testimonial.feedback}}"</p>
    </div>
    <div class="testimonial_tags">
      <div>
        <p>Left by:</p>
        <p>{{testimonial.name}}</p>
      </div>
      <div>
        <p>At:</p>
        <p>{{testimonial.created_at}}</p>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
<br />

{% endblock %}
