{% extends 'layout.html' %} {% block content %}
<div class="text_analyser_main">
  <h1>Text Analyser Function</h1>
  <br />
  <p>
    This function was built entirely using Python and connected to the website
    using <strong>Jinja2 Templating</strong>. Using the form box below, you can
    have a piece of text analysed for the type of data it holds. The Python
    function calculates how many words there are, the frequency of each word,
    and the lexical density (unique words) of the text entered.<br /><br />

    A <strong>High Lexical Density</strong> indicates the use of a wide variety
    of words, and a <strong>Low Lexical Density</strong> means high use of
    repeated words or phrases. The more vocabulary you know, the more you
    improve your ability to write with a higher lexical density.<br /><br />

    While this function seems intriguing, it’s better to understand the
    different applications of this type of method. In this function, I haven’t
    used modules like <strong>Regular Expressions</strong>, which would make the
    analysis more accurate and perform complex operations like identifying a
    sequence of numbers or characters.
  </p>
  <div class="form_div">
    <form method="POST">
      <br />
      <textarea name="text" placeholder="Enter text" rows="5"></textarea><br />
      <button type="submit">Submit</button>
    </form>
    <br />
  </div>
  {% if result %}
  <div class="analyser_result">
    <h2>Text Analysis</h2>
    {% for key, val in result.items() %}
    <div class="analyser_result">
      {% if key == 'Lexical Density' %}
      <div>
        <p><strong>{{key}}:</strong></p>
        <p>{{val}}%</p>
      </div>
      {% else %}
      <div>
        <p><strong>{{key}}:</strong></p>
        <p>{{val}}</p>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <div class="analyser_result">
      <h2>Total Words</h2>
      <table>
        <tr>
          <th>Word List</th>
          <th>Occurrence</th>
        </tr>
        {% for key, val in word_freq.items() %}
        <tr>
          <td>"{{key}}"</td>
          <td>{{val}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
