* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", Arial, sans-serif;
}

body {
  font-size: 1.5rem;
  background-color: rgb(239, 239, 239);
}

main {
  margin-left: 200px;
  margin-right: 200px;
}

.main_nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  font-size: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.main_nav img {
  width: 70px;
  border-radius: 100%;
}

.main_nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.main_nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: green;
}

.main_nav li:hover {
  color: grey;
}

.main_nav li a {
  color: inherit;
  text-decoration: none;
  font: inherit;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}

.footer_div {
  display: flex;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 10px;
  font-size: 1rem;
}

.inside_footer {
  width: 100%;
}

.inside_footer img {
  border-radius: 100%;
  width: 250px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_content p {
  text-align: center;
  width: 300px;
}

.footer_copyright {
  width: 100%;
  text-align: center;
}

.home_main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_main h1 {
  text-align: center;
}

.about_main img {
  width: 300px;
  margin: auto;
}

.text_analyser_main h1 {
  text-align: center;
}

.form_div {
  text-align: center;
}

.text_analyser_main textarea {
  width: 50%;
  height: 50%;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.text_analyser_main button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.analyser_result {
  display: flex;
  flex-direction: column;
}

.analyser_result h2 {
  text-align: center;
}

.analyser_result > div {
  display: flex;
  gap: 10px;
}

.analyser_result table {
  border: 1px solid black;
  text-align: center;
}

.analyser_result table th {
  border-bottom: 0.5px solid black;
}

.analyser_result table tr:nth-child(even) {
  background-color: lightgreen;
}

.database_home h1 {
  text-align: center;
}

.database_nav {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 50px;
  font-size: 1rem;
}

.database_nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.database_nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
}

.database_nav li:hover {
  color: lightgrey;
}

.database_nav li a {
  color: inherit;
  text-decoration: none;
  font: inherit;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}
