<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sheikh Hussain" />
    <title>{{title}} | Flask Website</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />
  </head>
  <body>
    <header>{% include '' %}</header>
    <main>{% block content %}{% endblock %}</main>
    <footer>{% include '' %}</footer>
  </body>
</html>
